<app-fondo></app-fondo>
<app-nav></app-nav>
<div class="container text-center mt-4 position-relative"></div>
        <div class="container">
            <div class="row mb-3">
                <button class="btn btn-secondary btn-volver" onclick="window.history.back()"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
        </div>
        <p class="lead text-center">
            Profesores
        </p>
        <div class="container mt-3">
            <form class="mb-3 custom-search-bar">
                <div class="input-group">
                    <input type="text" class="form-control custom-search-input" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon">
                    <button class="btn btn-primary custom-search-button" type="button" id="button-addon">
                        <i class="fa-solid fa-magnifying-glass fa-xs"></i>
                    </button>
                </div>
            </form>
            <div class="container mt-4">
                <div class="d-grid gap-2">
                    <div class="container mt-4 mb-4">
                        <div class="d-grid gap-2">
                            <button class="btn btn-custom-grey"  type="button" *ngFor="let usuario of arrayProfesores">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/harry.png" alt="Foto Alumno" class="img-fluid" style="margin-right: 10px;" width="40">
                                        <span class="ml-2">{{usuario.nombre + ' ' + usuario.apellido}}</span>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-outline-transparent" (click)="eliminarProfesor(usuario.id)" *ngIf="rol=='admin'">
                                            <i class="fa-regular fa-trash-can fa-lg" style="color: #fa0000;"></i>
                                            <div class="text-white">ELIMINAR</div>
                                        </button>
                                    </div>
                                    
                                </div>
                            </button>
                            <nav aria-label="d-flex justify-content-center Page navigation example">
                                <ul class="pagination">
                                  <li class="page-item" [class.disabled]="currentPage === 1">
                                    <a class="page-link" (click)="loadProfesores(currentPage - 1)">Previous</a>
                                  </li>
                                  <li class="page-item" *ngFor="let page of pages">
                                    <a class="page-link" (click)="loadProfesores(page)" [class.active]="page === currentPage">{{ page }}</a>
                                  </li>
                                  <li class="page-item" [class.disabled]="currentPage === totalPaginas">
                                    <a class="page-link" (click)="loadProfesores(currentPage + 1)">Next</a>
                                  </li>
                                </ul>
                              </nav>
                            <div class="d-flex justify-content-center mt-4 mb-3">
                                <button class="btn btn-circle" type="button" routerLink="/crear_profesor">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
<app-footer></app-footer>