<app-fondo></app-fondo>
<app-nav></app-nav>
<div class="container text-center mt-5 position-relative">
    <div class="row mb-3">
        <button class="btn btn-secondary btn-volver" onclick="window.history.back()"><i class="fa-solid fa-chevron-left"></i></button>
        <p class="p-perfil text-center">
            Ajustes
        </p>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <button class="btn btn-primary btn-suggest1 fondo-oscuro p-3" type="button">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="ml-2">Contáctenos</span>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <button class="btn btn-primary btn-suggest1 fondo-oscuro p-3" type="button">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="ml-2">Notificaciones</span>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <button class="btn btn-primary btn-suggest1 fondo-oscuro p-3" type="button">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="ml-2">Lenguaje</span>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>
<div>
<app-footer></app-footer>