<app-fondo></app-fondo>
<app-nav-profesor></app-nav-profesor>
<div class="container text-center mt-5 position-relative">
    <div class="row mb-3">
        <button class="btn btn-secondary btn-volver" onclick="window.history.back()"><i class="fa-solid fa-chevron-left"></i></button>
        <p class="p-perfil text-center">
            Nombre del Alumno
        </p>
    </div>
    
    <img src="assets/user.png" alt="Foto de perfil" class="rounded-circle img-fluid" style="width: 100px; height: 100px; z-index: 2;">
</div>

<div class="container mt-5">
    <form>
        <div class="mb-3">
            <label class="label" for="floatingInputValue2">Nombre</label>
            <input type="text" class="form-control form-control1 fondo-oscuro text-white borde-editar2" id="floatingInputValue23" placeholder="Tu Nombre" value="Abril">
        </div>
        <div class="mb-3">
            <label class="label" for="floatingInputValue2">Apellido</label>
            <input type="text" class="form-control form-control1 fondo-oscuro text-white borde-editar2" id="floatingInputValue23" placeholder="Tu Apellido" value="Freytes">
        </div>
        <div class="mb-3">
            <label class="label" for="floatingInputValue2">Email</label>
            <input type="email" class="form-control form-control1 fondo-oscuro text-white borde-editar2" id="floatingInputValue23" placeholder="Tu Email" value="abrilfreytes@gmail.com">
        </div>
        <div class="mb-3">
            <label class="label" for="floatingInputValue2">Edad</label>
            <input type="number" class="form-control form-control1 fondo-oscuro text-white borde-editar2" id="floatingInputValue23" placeholder="Tu Edad" value="28 años">
        </div>
    </form>
    <div class="d-grid d-flex justify-content-center p-3 mt-5">
        <button type="submit" class="btn button-login p-2 w-50 btn-crear-alumno">Crear Alumno</button>
    </div>
</div>
<app-footer></app-footer>