<app-fondo></app-fondo>
<app-nav-profesor></app-nav-profesor>
<div class="container text-center mt-5 position-relative">
<div class="row mt-3">
    <button class="btn btn-secondary btn-volver" onclick="window.history.back()"><i class="fa-solid fa-chevron-left"></i></button>
</div>
<img src="assets/harry.png" alt="Foto de perfil" class="rounded-circle img-fluid" style="width: 75px; height: 75px; z-index: 2;">
</div>
<p class="lead text-center">
Harry Estilos
</p>
<div class="container">
<div class="row mt-3">
    <div class="col-md-6 mx-auto">
        <div class="text-center">
            <button class="btn btn-primary btn-suggest1 fondo-oscuro" routerLink="/planificacion_profesores">
                <i class="fa-solid fa-ranking-star fa-xs"></i>
                Planificacion
                <i class="fas fa-chevron-right fa-xs ml-2"></i>
            </button>
        </div>
    </div>
</div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="text-center">
            <button class="btn btn-primary btn-suggest2 fondo-oscuro" routerLink="/info_alumno">
                <i class="fa-regular fa-user fa-xs"></i>
                Información personal
                <i class="fas fa-chevron-right fa-xs ml-2"></i>
            </button>
        </div>
    </div>
</div>
</div>
<div class="container">
<div class="row mt-3">
    <div class="col-md-6 mx-auto">
        <div class="text-center">
            <p class="text-center fst-italic" style="color: rgb(96, 98, 99)">
                <a class="sign-out-link" href="#">Eliminar alumno</a>
            </p>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>