<app-nav></app-nav>
    <div class="background-image">
        <div class="container text-center">
            <div class="row">
                <div class="col p-3 bg-white bg-opacity-10 border-success mb-2 border-opacity-50 border border-black rounded text-center">
                    <h1 class="text-white">Entrenamiento Personalizado</h1>
                    <p class="lead2 text-white">La mejor experiencia de entrenamiento acorde a tus objetivos.</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card">
                        <img src="assets/pro.jpg" class="card-img-top" alt="Clase 1">
                        <div class="card-body bg-dark">
                            <h5 class="card-title text-white">Entrenadores Profesionales</h5>
                            <p class="card-text2 text-white">Nuestros entrenadores altamente calificados te guiarán hacia tus objetivos de fitness.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img src="assets/clase.jpg" class="card-img-top" alt="Clase 2">
                        <div class="card-body">
                            <h5 class="card-title text-white">Clases Variadas</h5>
                            <p class="card-text2 text-white">Ofrecemos una amplia variedad de clases para mantener tu entrenamiento fresco y emocionante.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark">
                        <img src="assets/24_horas.jpg" class="card-img-top" alt="Clase 3">
                        <div class="card-body">
                            <h5 class="card-title text-white">Gimnasio 24 Horas</h5>
                            <p class="card-text2 text-white">Nuestro gimnasio está abierto las 24 horas del día para adaptarse a tu horario.</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <app-footer></app-footer>

