<app-fondo></app-fondo>
<app-nav></app-nav>
<div class="container text-center mt-4 position-relative"></div>

        <div class="container">
            <div class="row mb-3">
                <button class="btn btn-secondary btn-volver" onclick="window.history.back()"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
        </div>
        
        <p class="lead text-center">
            Alumnos
        </p>
        <div class="container mt-3 container overflow-auto mb-5">
            <form class="mb-3 custom-search-bar">
                <div class="input-group">
                    <input type="text" class="form-control custom-search-input" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon">
                    <button class="btn btn-primary custom-search-button" type="button" id="button-addon">
                        <i class="fa-solid fa-magnifying-glass fa-xs"></i>
                    </button>
                </div>
            </form>
            <div class="container mt-4 mb-4">
                <div class="d-grid gap-2">
                    <button class="btn btn-custom-grey" type="button" *ngFor="let usuario of arrayAlumnos">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="assets/harry.png" alt="Foto Alumno" class="img-fluid" style="margin-right: 10px;" width="40">
                                <span class="ml-2">{{usuario.nombre + ' ' + usuario.apellido}}</span>
                            </div>
                            <div class="d-flex justify-content-between">

                                <div class="text-center" *ngIf="rol=='profesor'" style="margin-left: 15px; margin-right: 15px;"  >
                                    <i class="fa-regular fa-eye" style="color: #ffffff;"></i>
                                    <span class= "d-none d-sm-block" style="font-size: 14px; margin-top: 5px;"> Ver Perfil</span>
                                </div>
                                <div class="text-center" style="margin-left: 15px; margin-right: 15px;" (click)="eliminarAlumno(usuario.id)">
                                    <i class="fa-solid fa-xmark fa-xl" title="Eliminar" style="color: red"></i>
                                    <span class= "d-none d-sm-block" style="font-size: 14px; margin-top: 5px;"> Eliminar</span>
                                </div>
                            <!-- <button class="btn btn-outline-transparent" routerLink="/perfil_vista_prof" *ngIf="rol=='profesor'"><i class="fa-regular fa-trash-can fa-lg" style="color: #fa0000;"></i></button> -->
                            </div>
                        </div>
                    </button>

                    <div class="d-flex justify-content-center mt-3 mb-3" *ngIf="rol=='admin'">
                        <button class="btn btn-circle" type="button" routerLink="/crear_alumno">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    
                    <nav aria-label="Page navigation example " class="d-flex justify-content-center mt-4">
                        <ul class="pagination">
                        <li class="page-item ">
                            <a class="page-link " (click)="loadAlumnos(currentPage - 1)">Previous</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pages">
                            <a class="page-link" (click)="loadAlumnos(page)" [class.active]="page === currentPage">{{ page }}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" (click)="loadAlumnos(currentPage + 1)">Next</a>
                        </li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
        </div>
       
<app-footer></app-footer>