<app-fondo></app-fondo>
<app-nav-profesor></app-nav-profesor>
<div class="container text-center mt-5 position-relative">
    <div class="row mt-3">
        <button class="btn btn-secondary btn-volver" onclick="window.history.back()"><i class="fa-solid fa-chevron-left"></i></button>
    </div>
    <img src="assets/user.png" alt="Foto de perfil" class="rounded-circle img-fluid" style="width: 100px; height: 100px; z-index: 2;">
</div>
<p class="lead text-center">
    Ramona Perez
</p>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <button class="btn btn-primary btn-suggest1 fondo-oscuro" routerLink="/edit_perfil" >
                    <i class="fa-regular fa-user fa-xs"></i>
                    Editar perfil
                    <i class="fas fa-chevron-right fa-xs ml-2"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <button class="btn btn-primary btn-suggest2 fondo-oscuro" routerLink="/settings">
                    <i class="fa-solid fa-gears fa-xs"></i>
                    Ajustes
                    <i class="fas fa-chevron-right fa-xs ml-2"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <p class="text-center fst-italic" style="color: rgb(96, 98, 99)">
                    <a class="sign-out-link" href="#">Sign Out</a>
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>