<app-fondo></app-fondo>
<app-nav></app-nav>
<div class="container text-center mt-4 position-relative"></div>

        <div class="container">
            <div class="row mb-3">
                <button class="btn btn-secondary btn-volver" onclick="window.history.back()"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
        </div>
        
        <p class="lead text-center">
            Clases
        </p>
        <div class="container mt-3 container overflow-auto mb-5">
            <form class="mb-3 custom-search-bar">
                <div class="input-group">
                    <input type="text" class="form-control custom-search-input" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon">
                    <button class="btn btn-primary custom-search-button" type="button" id="button-addon">
                        <i class="fa-solid fa-magnifying-glass fa-xs"></i>
                    </button>
                </div>
            </form>
            <div class="container mt-4">
                <div class="d-grid gap-2">
                    <div id="cards" class="container">
                        <div class="d-flex justify-content-center">
                            <div class="card custom-card" *ngFor="let clase of arrayClases">
                                <img src="assets/yoga-1.png" class="card-img-plani">
                                <div class="card-img-overlay">
                                    <h5 class="texto-plani" style="position: absolute; bottom: 0px">{{clase.nombre+ '' +clase.horario}}</h5>
                                    <button class="btn texto-modificar me-3" data-bs-toggle="modal" data-bs-target="#editarClaseModal" style="position: absolute; bottom: 0; right: 0;">MODIFICAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-5">
                <button class="btn btn-circle" data-bs-toggle="modal" data-bs-target="#nuevaClaseModal">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="modal fade" id="nuevaClaseModal" tabindex="-1" aria-labelledby="nuevaClaseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="nuevaClaseModalLabel">Agregar Nueva Clase</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editarClaseModal" tabindex="-1" aria-labelledby="editarClaseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarClaseModalLabel">Editar Clase</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">  
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
<app-footer></app-footer>