<app-fondo></app-fondo>
<app-nav></app-nav>
<div class="container mt-5 ">
    <div class="row">
        <h1 class="welcome-text">Hola Usuario</h1>
    </div>
    <div class="row">
        <h2 class="welcome-text2">Buen día.</h2>
    </div>
</div>
<div id="cards" class="container">
  <div class="row">
    <div class="d-flex">
      <div class="p-2 flex-grow-1 texto-home">Plan de hoy</div>
      <div class="p-2 fecha-home">Jue 24 Ago</div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <a href="planificaciones.html">
        <div class="card">
          <img src="assets/plan-de-hoy-1.png
          " class="card-img-top" alt="Plan1">
          <div class="card-img-overlay">
            <div class="card-body">
              <h3 class="card-titulo">Running</h3>
              <h6 class="card-texto">08:00-09:00</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-auto">
      <a href="planificaciones.html">
        <div class="card">
          <img src="assets/plan-de-hoy-1.png
          " class="card-img-top" alt="Plan1">
          <div class="card-img-overlay">
            <div class="card-body">
              <h3 class="card-titulo">Running</h3>
              <h6 class="card-texto">08:00-09:00</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-auto">
      <a href="planificaciones.html">
        <div class="card">
          <img src="assets/plan-de-hoy-1.png
          " class="card-img-top" alt="Plan1">
          <div class="card-img-overlay">
            <div class="card-body">
              <h3 class="card-titulo">Running</h3>
              <h6 class="card-texto">08:00-09:00</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div id="cards" class="container">
  <div class="row">
    <div class="d-flex">
      <div class="p-2 flex-grow-1 texto-home">Clases disponibles</div>
    </div>
    <div class="col-auto">
      <a href="clases.html">
        <div class="card">
          <img src="assets/clases-disponibles-1.png" class="card-img-top" alt="Clase1">
          <div class="card-img-overlay">
            <div class="card-body">
              <h3 class="card-titulo">Boxeo</h3>
              <h6 class="card-texto">Lunes 08:00-09:00</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-auto">
      <a href="clases.html">
        <div class="card">
          <img src="assets/clases-disponibles-1.png" class="card-img-top" alt="Clase1">
          <div class="card-img-overlay">
            <div class="card-body">
              <h3 class="card-titulo">Boxeo</h3>
              <h6 class="card-texto">Lunes 08:00-09:00</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div id="cards" class="container mb-5">
  <div class="row">
    <div class="d-flex">
      <div class="p-2 flex-grow-1 texto-home">Profesores</div>
    </div>
    <div class="col-auto">
      <a href="profesores.html">
        <div class="card">
          <img src="assets/profesores-1.png" class="card-img-top img-fluid" alt="Clase1">
          <div class="card-img-overlay">  
            <div class="card-body">
              <h3 class="card-titulo">Pablo Perez</h3>
              <h6 class="card-texto">Pesas</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-auto">
      <a href="profesores.html">
        <div class="card">
          <img src="assets/profesores-1.png" class="card-img-top" alt="Clase1">
          <div class="card-img-overlay">  
            <div class="card-body">
              <h3 class="card-titulo">Pablo Perez</h3>
              <h6 class="card-texto">Pesas</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-auto">
      <a href="profesores.html">
        <div class="card">
          <img src="assets/profesores-1.png" class="card-img-top" alt="Clase1">
          <div class="card-img-overlay">  
            <div class="card-body">
              <h3 class="card-titulo">Pablo Perez</h3>
              <h6 class="card-texto">Pesas</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-auto mb-5">
      <a href="profesores.html">
        <div class="card">
          <img src="assets/profesores-1.png" class="card-img-top" alt="Clase1">
          <div class="card-img-overlay">  
            <div class="card-body">
              <h3 class="card-titulo">Pablo Perez</h3>
              <h6 class="card-texto">Pesas</h6>
            </div>
          </div>
        </div>
      </a>
    </div>
</div>
<app-footer></app-footer>