<app-fondo></app-fondo>
<app-nav></app-nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-xxl-12 d-flex justify-content-center">
            <p class="welcome-text">Crea una nueva cuenta</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 d-flex justify-content-center">
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 21C0.999999 16.3894 0.999999 10.2528 0.999999 5.99849C0.999999 3.23706 3.23858 1 6 0.999999L46 0.999994C48.7614 0.999994 51 3.23857 51 5.99999L51 46C51 48.7614 48.7614 51 46 51L6 51C3.23858 51 1 48.7614 1 46L1 31" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M11 28.5H16L21 36L23.5 31.625M41 28.5H36L31 18.5L28.5 22.875L27.875 23.9688" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
        
    
    <div class="row mt-2 justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                <div class="mb-3">    
                    <label for="exampleInputEmail1" class="form-label text-white">Nombre</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                        <input formControlName="nombre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu nombre">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-white">Apellido</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
                        <input formControlName="apellido" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu apellido">
                    </div>
                </div>

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label text-white">Email</label>
                  <div class="input-group">
                      <span class="input-group-text"><i class="far fa-envelope"></i></span>
                      <input formControlName="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu correo electrónico">
                  </div>
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label text-white">Contraseña</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    <input formControlName="contrasena" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu contraseña">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label text-white">Edad</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa-solid fa-arrow-down-1-9 fa-2xs"></i></span>
                      <input formControlName="edad" type="int" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu edad">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label text-white">DNI</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fa-regular fa-address-card fa-xs"></i></span>
                      <input formControlName="dni" type="int" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu DNI">
                    </div>
                </div>
                
                <div class="d-grid d-flex justify-content-center p-3">
                    <button type="submit" class="btn text-white button-login p-2 w-50">Crear Cuenta <i class="fa-solid fa-arrow-right fa-xs"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>